.sidebar-item {
    transition: color 1s ease, filter 0.3s ease;
  }
  
  .sidebar-item:hover {
    color: black;
    background-color: #f0f5f5; /* Change text color to black */
  }
  
  .sidebar-item:hover .icon {
    color: var(--purple); /* Change icon color to purple */
  }
  .sidebar-item .active {
    color: black; /* Change text color to black when active */
  }
  
  .sidebar-item .active .icon {
    color: purple; /* Change icon color to purple when active */
  }